// Import page-specific CSS files here.
@import "home";
@import "show";
@import "offers";
@import "dashboard";


body {
  background-color: #fdfdfd;
  color: #000
}

h1 {
  margin: 36px;
  color: #000;
  // font-family: Arial, Helvetica, sans-serif ;
  font-family: 'Syncopate', sans-serif;
  text-shadow:black;
}

p {
  font-size: 28px;
  color: #2f2f2f;
}

#logo {
  font-family: 'ranga', cursive;
}

// Styling for forms

.form-inputs {
  label {
    color: black;
  }
}

// Gradient color text

.text-gradient {
  background: linear-gradient(to right, #30CFD0, #c43ad6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
