// Import page-specific CSS files here.
@import "home";

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0;
  grid-gap: 0;
  img {
    padding: 0;
    transition: transform 0.25s ease;
  }
  img:hover {
    transform: scale(1.4);
  }
}
