.show-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100vh;
  height: 95vh;
  margin: 0 auto;
  h1 {
    color: #2b2b2b;
  }
  p {
    color: #2b2b2b;
  }
}
