<div class="container text-center col-md-8 h-300">
<h1>Booking Details</h1>
    <h2>Artist</h2>
    <div id="booking-container">
    <h2><%= @offer.artist_name %></h2>

    <h4>Start Time: <%= @booking.start_time %></h4>
    <h4>End Time: <%= @booking.end_time %></h4>
</div>
