<div class="card-artist"
  style="background-image: url('<%= image_path asset_image,
  crop: :fill %>');">
  <div class="w-full h-full flex items-end rounded-xl card-img-gradient">
    <span class="px-4 pb-4 block">
      <h3>
        <%= genre %>
      </h3>
    </span>
  </div>
</div>
