<div class="footer">
        <div class="links">
          <h5>BookAnArtist</h5>
          <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
          <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
          </div>
          <div class="address">
            <ul>
              <li><a href="#"><i class="fas fa-map-marker-alt"></i></a> C. Dr. Esquerdo, 70, 28007 Madrid</li>
              <li><a href="#"><i class="fas fa-envelope"></i></a> contacto@bookanartist.com</li>
              <li><a href="#"><i class="fas fa-phone"></i> +1 (212) 631 4546</li>
            </ul>
          </div>
          <div>
