<div class="home-container align-items-center">
  <video src="https://storage.coverr.co/videos/5Sbyp024BgibCg8TAuqpUehDm79jH00whk?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6Ijg3NjdFMzIzRjlGQzEzN0E4QTAyIiwiaWF0IjoxNjM3MTM5NTI3fQ.Z-lZoYo4-mJnGQL8XX0XbixJA4XucysecZ6g4wSmCGI" autoplay loop playsinline muted></video>
  <header class="viewport-header">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div>
        <h1>
          Book an <span>Artist</span>
        </h1>
      </div>
      <div class="typewriter mb-3">
        <h1>Book your favorite artist!</h1>
      </div>
      <div class="neon-button m-5">
        <a href="<%= offers_path %>">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Browse Artists
        </a>
      </div>
    </div>
  </header>
</div>

<% if user_signed_in? %>

<% else %>
  <div class="glowing-gradient-btn">
    <%= link_to "Sign Up", new_user_registration_path%>
  </div>
  <div class="gradient-btn">
    <%= link_to "Log in", new_user_session_path%>
  </div>
<% end %>
