<div class="container-landing d-flex justify-content-center">
  <div class="row">
    <div class="d-flex justify-content-center flex-column align-item-center">
      <div class="typewriter mb-5">
        <h1>Book your favorite artist!</h1>
      </div>
      <div class="neon-button mt-5">
        <a href="<%= offers_path %>">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Artists
        </a>
      </div>
    </div>
  </div>
</div>

<div class="glowing-gradient-btn">
  <a href="">Sign Up</a>
</div>
