<h2 class="mt-3">Welcome <%= @profile_user.first_name %>!</h2>

<div class="grid grid-cols-2">


  <div class="dashboard-offers">


  <h2>My Offers</h2>
  <%= render 'pages/posts' %>


  </div>


  <div class="dashboard-bookings">


    <h2>Booking Requests</h2>
    <%= render 'pages/bookings' %>

  </div>


</div>



<%# render 'pages/profile_card' %>
