<div class="full-height">
  <div class="d-flex flex-column align-items-stretch justify-content-stretch h-100">
    <div id="dash-top" style="height: 70%">
      <div class="row" style="height: 70vh">
        <div class="col-9" style="height: 100%">
          <div class="row d-flex flex-column flex-nowrap justify-content-stretch" style="height: 100%">
            <div style="height: 15%">
              <h2 class="mt-3 ml-4">Welcome <%= @profile_user.first_name %>!</h2>
            </div>
            <div style="height: 85%">
              <h2 class="ml-4" style="height:10%">My Offers</h2>
              <div style="height: 90%">
                <%= render 'pages/posts' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 profile" style="height: 100%">
          <%= render 'pages/profile_card' %>
        </div>
      </div>
    </div>
    <div id="dash-bottom" style="height: 30%" id="Nunito">
      <h1 style="height: 15%">Booking Requests</h1>
        <div style="height: 85%">
          <%= render 'pages/bookings' %>
        </div>
    </div>
  </div>
</div>
