<h2 class="mt-4">Welcome <%= @profile_user.email %>!</h2>

<div class="grid">

  <div class="dashboard-bookings">


    <h2>Booking Requests</h2>
    <%= render 'pages/bookings' %>

  </div>

  <div class="dashboard-offers">


  <h2>My Offers</h2>
  <%= render 'pages/posts' %>


  </div>


</div>



<%# render 'pages/profile_card' %>
