<div class="blue full-height">
  <div class="d-flex flex-column align-items-stretch justify-content-stretch h-100">
    <div class="green" id="dash-top">
      <div class="row h-100">
        <div class="red col-8">
          <div class="row d-flex flex-column flex-nowrap justify-content-stretch" style="height: 100%">
            <div class="blue" style="height: 25%">
              <h1>Dashboard</h1>
            </div>
            <div class="blue" style="height: 75%">
              <div class="row h-100 d-flex flex-stretch">
                <div class="green col-7 mr-3">
                  <h1>Calendar</h1>
                </div>
                <div class="green col-4">
                  <h1>Cards</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="red col-4"><h1>Profile</h1></div>
      </div>
    </div>
    <div class="green" id="dash-bottom"><h1>bookings</h1></div>
  </div>
</div>
