<div class="min-h-screen flex items-center">


<div class="grid grid-cols-1 lg:grid-cols-2 h-1/2">

  <div class="artist-show-images">
    <% @offer.photos.each do |photo| %>
      <img class="banner rounded-lg" src="<%= cl_image_path photo.key, height: 800, width: 1000, crop: :fill %>">
    <% end %>
  </div>

  <div class="artist-info">



      <div class="flex justify-between py-4 px-8">
        <h1 class="roboto-mono"><%= @offer.artist_name %></h1>
        <%= render 'bookings/new_booking_form' %>
      </div>

      <div class="py-4 px-8">

          <div class="mb-8">
              <p><%= @offer.description %></p>
          </div>

          <div>
            <div tabindex="0" class="collapse border border-base-300 bg-base-100 rounded-box collapse-arrow">
              <div class="collapse-title text-xl font-medium">
                Are there any extra services?
              </div>
              <div class="collapse-content">
                <p>
                It's not unusual for artists to take song requests or do vip meetings.
                Leave a message when making your booking and the artist's manager
                will get back to you
                </p>
              </div>
            </div>
            <div tabindex="0" class="collapse border border-base-300 bg-base-100 rounded-box collapse-arrow">
              <div class="collapse-title text-xl font-medium">
                What if my timings change after I've made a booking?
              </div>
              <div class="collapse-content">
                <p>
                  Be sure to leave a notice for the artist within a reasonable time.
                </p>

              </div>
            </div>
            <div tabindex="0" class="collapse border border-base-300 bg-base-100 rounded-box collapse-arrow">
              <div class="collapse-title text-xl font-medium">
                Can I cancel once the booking has been confirmed?
              </div>
              <div class="collapse-content">
                <p>
                  Get in touch with our BookAnArtist team! We will make sure to
                  reimburse you no questions asked, if it is within a reasonable timeframe
                </p>
              </div>
            </div>
          </div>

      </div>

</div>

</div>
