.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: 100vh
}

.btn-ghost {
  color: #2196f3;
  border: 1px solid #2196f3;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
