

  h2 {
  color: antiquewhite;
  // text-decoration: whitesmoke;
  font-family: 'Syncopate', sans-serif;
}


#booking-container {
  height: 80vh;
  h2 {
  color: antiquewhite;
  font-family: "ranga";

}
}

h4 {
  color:antiquewhite
}
