.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  // display: inline-block;
  padding: 0.75rem 0.75rem;
}



.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.neon-button {
  font-family: 'Oswald', sans-serif;
  a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
  }

  a:hover {
    color: #255784;
    background-color: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;

  }

  a span {
    position: absolute;
    display: block;
  }

  a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
  }

  a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
  }

  a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
  }

  a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
  }

  a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
  }

  a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
  }

  a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
  }

  a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
  }
}


.glowing-gradient-btn {
  a {
  position: absolute;
  top: 52px;
  right: 180px;
  transform: translate(-50%,-50%);
  width: 160px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
  }
  a:hover {
  animation: animate 8s linear infinite;
  }
  @keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
  }
  a:before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a4, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 40px;
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s;
  }
  a:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
  }
}

.gradient-btn {
  a {
  transform: translate(-50%,-50%);
  width: 160px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, rgb(111, 76, 255), rgb(1, 110, 218), rgb(217, 0, 192), rgb(111, 76, 255));
  background-size: 400%;
  border-radius: 30px;
  z-index: 1;
  }
  a:hover {
  animation: animate 8s linear infinite;
  }
  @keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
  }
  a:before {
  content: '';
  position: absolute;
  z-index: -1;
  background: linear-gradient(90deg, rgb(111, 76, 255), rgb(1, 110, 218), rgb(217, 0, 192), rgb(111, 76, 255));
  background-size: 400%;
  border-radius: 40px;
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s;
  }
  a:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 8s linear infinite;
  }
}

.btn-ghost-post {
  background-color: rgb(174, 137, 185);
  color: #FFFF;
  border: 1px solid #FFFF;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  // display: inline-block;
  padding: 0.75rem 0.75rem;
}

.btn-ghost-post:hover {
  opacity: 1;
  background-color: white;
  color: black;
}

#login-btn {
  a {
  position: absolute;
  top: 52px;
  right: 0;
  }
}
