.grid {
  .card {
    padding: 0;
    transition: transform 0.25s ease;
    margin: 10px;
    // height: 300px;
    // flex-grow: 1;
  }
  .card:hover {
    transform: scale(1.2);
    z-index: 1;
  }
}

.card-img, .card-img-top {
// border-top-left-radius: 10px;
// border-top-right-radius: 10px;
// border-bottom-right-radius: 0px;
// border-bottom-left-radius: 0px;

}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-body {
  flex: 1 1 auto;
  // min-height: x1px;
  // padding: 0.2rem;
  // margin-top: 0px;
  background-size: cover;
  background-position: center;
  // height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}



.card > a {
  height: 80%
}

.movies {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 0;
  grid-gap: 0;
  img {
    padding: 0;
    transition: transform 0.25s ease;
  }
  img:hover {
    transform: scale(1.4);
  }
}

ul {
  list-style: none;
}
