// Rework

.card-artist {
	background-size: cover;
	background-position: center;
	transition: 0.4s ease;
}

.card-artist:hover {
	transform: scale(1.05);
}

.card-img-gradient {
	background: linear-gradient(
		360deg,
		rgba(0, 0, 0, 1) 0%,
		rgba(0, 0, 0, 0) 80%
	);
}
