.grid {
  .card {
    padding: 0;
    transition: transform 0.25s ease;
    margin: 10px;
    // height: 300px;
    // flex-grow: 1;
    height: 35vh;
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    background-color:rgba(0, 0, 0, 0.5);

  }

  .card:hover {
    color: white;
    transform: scale(1.2);
    z-index: 1;
    cursor: pointer;
    opacity: 1;
    .card-img-top{
      opacity:1;
    }
    .card-title{
      z-index: 1;
    }
    
  }

}

.card-img-top {
  transform: scale(1.05);
  // box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  opacity: 0.5;
  z-index: -1;
}



  // .card-img-top:hover {
  //   cursor: pointer;
  //   color: white;
  // }

  // .card-img-top:hover::after {
  //   height: 100%;
  // }

.card-img-top {
  height: 40vh;
  object-fit: cover;
  background-color:rgba(0, 0, 0, 0.5);

}



.card-body {
  flex: 1 1 auto;
  // min-height: x1px;
  // padding: 0.2rem;
  // margin-top: 0px;
  background-size: cover;
  background-position: center;
  // height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}


.card > a {
  height: 80%
}

.card-title  {
  position: absolute;

}

.card-title > a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
  padding-top: 30px;
}

#price{
  color:white;
  font-size: 20px;
}

#price {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position:absolute;
  bottom: 0;
  right:0;
  padding-right: 20px;
  // padding-bottom: 30px;
  font-size: 28px;
}
