@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

.footer {
  background-color: lightblue;
  height: 100%;
  font-size: large;
}

.links {
  text-align: center;
  font-size: large;
  //


}

h5 {
  size: 40px;
  font-family: "Oswald",sans-serif;
}

p {
  font-size: 30px;
  font-family: "Oswald",sans-serif;

}
