@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

.footer {
  background-color:	#f8f9fa;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  font-size: large;
}

.links {
  background-color:	#f8f9fa;
  text-align: center;
  font-size: 40px;
}

.address{
  background-color:	#f8f9fa;
  ul {
    list-style: none;
    text-align: center;
  }
}

h5 {
  size: 40px;
  font-family: 'ranga', cursive;
}

p {
  font-size: 30px;
  font-family: "Oswald",sans-serif;
}
