.navbar-dark {
  justify-content: space-between;
  font-size: 1.5rem;
  box-shadow: 0 0 25px rgba(0,0,0,0.6);
  height: 60px;
}

.navbar-dark .navbar-collapse {
  flex-grow: 0;
}

.navbar-dark .navbar-brand {
  width: 40px;
  font-family: 'ranga', cursive;
}

.dropdown {
  display: flex;
  align-items: center;
}
