.navbar-lewagon {
  font-family: 'ranga', cursive;
  justify-content: space-between;
  font-size: 1.5rem;
  background: #5c7cfa;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}
