.navbar-lewagon {
  font-family: 'ranga', cursive;
  justify-content: space-between;
  font-size: 1.5rem;
  background: #d3d5db;
  height: 50px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  width: 40px;
}

.dropdown{
    display: flex;
    align-items: center;
}
