h1 {
  margin: 30px;
  color:beige;
  font-family: Arial, Helvetica, sans-serif ;

}


.grid {
  .card {
    padding: 0;
    transition: transform 0.25s ease;
    margin: 10px;
    // box-shadow: 2px 5px #888888;
  }
  .card:hover {
    transform: scale(1.2);
    z-index: 1;
  }
}

.card-img-top {
  height: 100%;
}
