// Graphical variables
@import "config/fonts";
@import "config/colors";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: #21242E;
  color: white;
  margin: 0;
  padding: 0;
}

#logo {
  font-family: 'monoton';
}

// Styling for forms

.form-inputs {
  label {
    color: black;
  }
}
