@tailwind base;

@layer base {
  h1 {
    @apply text-4xl font-extrabold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  p {
    @apply text-base;
  }



  /* FORMS */

  .form-inputs .form-group {
    @apply mt-2;
  }

  .form-inputs .form-control-file {
    border: 0;
    color: white;
  }

  .form-inputs input, textarea {
    color: black;
    @apply mt-2 w-full border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-cyan-500 focus:ring-1 focus:ring-cyan-500;
  }

  .form-select {
    @apply text-black border-gray-300 rounded-lg shadow-sm focus:outline-none focus:border-cyan-500 focus:ring-1 focus:ring-cyan-500;
  }

  .form-inputs .form-check-input {
    @apply h-1 w-1 py-2 px-2 mr-2 text-cyan-400 rounded;
  }

  .form-inputs .form-check {
    @apply mt-2 flex items-center;
  }

  .file-button {
    @apply text-sm leading-6 file:mr-2 file:px-4 file:py-2 file:rounded-full file:bg-cyan-200 file:text-cyan-700 file:font-semibold file:border-none hover:file:bg-cyan-100;
  }


  /* CARDS */

  .card-category {
    height: 180px;
    width: 100%;
    @apply bg-cyan-400 rounded-xl shadow-lg flex justify-center items-center;
  }

  .card-top-five {
    @apply inline-flex justify-center items-center flex-col;
  }

  .card-artist {
    height: 300px;
    width: 100%;
    @apply rounded-xl shadow-lg flex justify-start items-end;
  }



  /* BUTTONS */

  .btn {
    border: 0;
  }

}


@tailwind components;

@layer components {
  @media (min-width:640px) {
    .modal-box {
      max-width: 37rem;
    }
  }
}

@tailwind utilities;
