@tailwind base;

@layer base {
  h1 {
    @apply text-3xl;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  .card-category {
    height: 300px;
    width: 100%;
    @apply bg-cyan-400 rounded-xl shadow-lg flex justify-center items-center;
  }

  .card-artist {
    height: 300px;
    width: 100%;
    /* @apply bg-cyan-400 rounded-xl shadow-lg flex justify-center items-center; */
  }
}

@tailwind components;
@tailwind utilities;
